.container{
  width: 100%;
  padding: -25px;
  margin: -50px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  perspective: 1600px;
}
.flipContainer {
width: 250px;
height: 500px;
position: relative;
margin: 0px 10px 0px;
-webkit-perspective: 800px;
-moz-perspective: 800px;
-o-perspective: 800px;
perspective: 1600px;
}

.card {
width: 250px;
height: 500px;
position: absolute;
-webkit-transition: -webkit-transform 1s;
-moz-transition: -moz-transform 1s;
-o-transition: -o-transform 1s;
transition: transform 1s;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
transform-style: preserve-3d;
-webkit-transform-origin: 50% 50%;
}

.card div {
display: block;
height: 500px;
width: 250px;

color:black;

font-weight: bold;
font-size: 12px;
position: absolute;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;
}

.card .front {
background: white;
}

.card .back {
background: white;

-webkit-transform: rotateY( 180deg);
-moz-transform: rotateY( 180deg);
-o-transform: rotateY( 180deg);
transform: rotateY( 180deg);
}

.card.flipped {
-webkit-transform: rotateY( 180deg);
-moz-transform: rotateY( 180deg);
-o-transform: rotateY( 180deg);
transform: rotateY( 180deg);
}


/*.card:hover{
  transform: scale(1.1);
  background: white;
  z-index: 2;
  card-shadow: 2px 2px 2px #000;
  }*/

h3
{
color:white;
font-size:20px;
font-family: 'Lemonada', cursive;
}
/*.back:hover {
  background-color: #ddd;
  color: black;
  }*/


.pagination a {
color: white;
float: left;
margin-top:200%;
padding: 8px 16px;
font-size:72px;
text-decoration: none;
transition: background-color .3s;
border: 1px  #ddd;
}

.pagination a.active {
background-color: #4CAF50;
color: white;
border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: black;}
.tab {
     display:inline-block;
     margin-left: 1381px;
}
.t1{
display:inline-block;
     margin-left: 0px;
     margin-bottom:0px;

}

.b1{
display: inline-block;
border-radius: 35px;
background: orange;
border: none;
color: light-yellow;
text-align: center;
font-size: 38px;
padding: 20px;
width: 220px;
height:50px;
transition: all 0.5s;
cursor: pointer;
margin: 2px;
}

.b1 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.b1 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.b1:hover span {
padding-right: 25px;
}

.b1:hover span:after {
opacity: 1;
right: 0;
}
p{
font-family: 'Courgette', cursive;
font-size:17px;
}
.p1{
font-family: 'Open Sans', sans-serif;
font-size:15px;
}
img {
    width: 150px;
    height: 100px;
  }