{% extends "blog/base.html" %}
{% load static%}

    <title>persuasion</title>

    {%block style %}
    <link href="{% static 'test1.css' %}" rel="stylesheet">
    <style>
    body{
     background: linear-gradient(to top left, #336699 0%, #00ff99 98%);
     background-image:url("{% static 'b1.jpg'%}");
     background-repeat:no-repeat;
     background-size:cover;
    }
    
    h3{
        background-color: green;
    }
   </style>
{% endblock %}


{% block content %} 
    <nav><a href="cart.html">
    <button class="b1" style="vertical-align:middle ;padding-top: 0;padding-bottom: 0;margin-left:80%;margin-top:10px;margin-bottom:3%;font-family: 'Brush Script MT';">
        <span><b>Idea Board</b></span></button>
    </a></nav>
    <h2 class="text-center" style="font-family: 'Metal Mania', cursive; font-size:75px; color:orange;margin-left:10px;margin-top:-100px;"><b>persuasion</b></h2>
    <div class="container">
        <div class="row">
            {% for index in choice%}
            <div class="col">
                <section class="flipContainer">
                <div class="card">
                    <button class="js-click" style="margin-top:-50px;"><i class="fa fa-info-circle " style="font-size:24px ;color:white"></i></button>
                    <div class="front">
                            <h3>{{index.catagory}}</h3>
                            
                            <img src="{{index.image.url}}" alt="" width="250" height="150">
                    <div> <p style="color:black;"><b>{{index.question}}</b></p></div><br><br><br><br><br><br><br><br><br><br><br>                   
                            <centre>
                                <div><button class="b1" style="font-size: 1em;" >Add to ideaboard</button></div>                
                            </centre>
                            </div>
                    <div class="back"> 
                        <header>
                            <h3>Description</h3>
                        </header>                        
                            <p style="color:black;"class="p1"><b>{{index.description}}</b></p>
                        </div>
                    </div>
                </section>
            </div>
            {%endfor%}
        </div>
    </div>
  
    <div class="pagination">
        <a href="{% url 'empowerment' %}"style="margin-top:20px;">❮</a>
        <a class="tab" href="{% url 'interaction' %}" style="margin-top:20px;">❯</a>
    </div>

    <div class="container">
        <div class="row">
            {% for index in choice1%}
            <div class="col">
                <section class="flipContainer">
                <div class="card">
                    <button class="js-click" style="margin-top:-50px;"><i class="fa fa-info-circle " style="font-size:24px ;color:white"></i></button>
                    <div class="front">
                            <h3>{{index.catagory}}</b></h3>
                            
                            <img src="{{index.image.url}}" alt="" width="250" height="150">
                    <div> <p style="color:black;"><b>{{index.question}}</b></p></div><br><br><br><br><br><br><br><br><br><br><br><br>                   
                            <centre>
                                <div><button class="b1" style="font-size: 1em;" >Add to ideaboard</button></div>                
                            </centre>
                            </div>
                    <div class="back"> 
                        <header>
                            <h3>Description</h3>
                        </header>                        
                            <p style="color:black;"class="p1"><b>{{index.description}}</b></p>
                        </div>
                    </div>
                </section>
            </div>
            {%endfor%}
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$('.js-click').on('click', function() {
    console.log("clicked");
  $(this).parent('.card').toggleClass('flipped');
});</script> 

{% endblock %}
